<div class="container">
	<div class ="row">
		<div class= "col-xs-3 col-xs-offset-1">
			<div class="title">
				<h2>商品一覧</h2>
				<label>(全 <%= @items.count %> 件)</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-11 col-xs-offset-1">
			<div class="i">
				<tbody>
					<% @items.each do |item| %>
					<div class="a">
						<div class="topbox">
							<%= link_to item_path(item) do %>
							<%= attachment_image_tag(item, :image, size: "200x200") %>
							<% end %>
						</div>
						<%= link_to item_path(item) do %>
						<div class="name">
							<%= item.name %><br>
							¥
							<%= item.non_taxed_price.floor.to_s(:delimited) %>
						</div>
						<% end %>
	<!-- ここから -->
<% if item.favorited_by?(current_end_user) %>
    <%= link_to item_favorites_path(item), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    <%= item.favorites.count %> いいね
    <% end %>
<% else %>
    <%= link_to item_favorites_path(item), method: :post do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= item.favorites.count %> いいね
    <% end %>
<% end %>
<!-- ここまで -->
					</div>
					<% end %>
				</tbody>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-2">
			<%= paginate @items, class: "paginate" %>
		</div>
	</div>
</div>


